In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [6]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

215971

In [8]:
len(cast)

3336592

### What are the earliest two films listed in the titles dataframe?

In [9]:
titles = titles.sort('year')
titles.head()

                                                    title  year
165156                                         Miss Jerry  1894
85703   Reproduction of the Corbett and Fitzsimmons Fight  1897
115895     Reproduction of the Corbett and Jeffries Fight  1899
198355        Sharkey-McCoy Fight Reproduced in 10 Rounds  1899
19144   Pierrot's Problem, or How to Make a Fat Wife O...  1900

In [10]:
titles.tail()

                       title  year
81065   Predator Retribution  2022
26513      Spider in the Web  2022
40463                  Rosie  2022
199790        New in Village  2024
44165              Wild Runs  2024

### How many movies have the title "Hamlet"?

In [11]:
len(titles[titles.title == 'Hamlet'])

19

In [12]:
titles[(titles.title == 'The Incredible Hulk') | (titles.title == 'Hulk')]

                      title  year
123417                 Hulk  2003
71017   The Incredible Hulk  2008

### How many movies are titled "North by Northwest"?

In [13]:
len(titles[titles.title == "North by Northwest"])

1

In [14]:
titles['yearssquared'] = titles.year * titles.year
titles

                                                    title  year  yearssquared
165156                                         Miss Jerry  1894       3587236
85703   Reproduction of the Corbett and Fitzsimmons Fight  1897       3598609
115895     Reproduction of the Corbett and Jeffries Fight  1899       3606201
198355        Sharkey-McCoy Fight Reproduced in 10 Rounds  1899       3606201
19144   Pierrot's Problem, or How to Make a Fat Wife O...  1900       3610000
88374                            Trouble in Hogan's Alley  1900       3610000
170488                              Soldiers of the Cross  1900       3610000
12563                                Family Troubles (II)  1900       3610000
194274                                        The Divorce  1903       3621409
63435                                   La malia dell'oro  1905       3629025
30374                                             Valsons  1905       3629025
147541             Impersonation of Nelson-McGovern Fight  1906       3632836
179687                         Highlights from The Mikado  1906       3632836
134974                                      Lika mot lika  1906       3632836
26195                  The Joe Gans-Battling Nelson Fight  1906       3632836
154405                        The Story of the Kelly Gang  1906       3632836
118808                               El ciego de la aldea  1907       3636649
201321                                 Robbery Under Arms  1907       3636649
73105                                               Faust  1907       3636649
59160                                            Violante  1907       3636649
214051                                             Amleto  1908       3640464
36013                                   Gans-Nelson Fight  1908       3640464
86577                                         Os Guaranis  1908       3640464
47851                                         Don Quijote  1908       3640464
160761                          El pastorcito de Torrente  1908       3640464
103241                     The Fairylogue and Radio-Plays  1908       3640464
72433                                       Andreas Hofer  1909       3644281
73491                                 Uma Licao de Maxixe  1909       3644281
67742                                   The Life of Moses  1909       3644281
59129                    Um Cavalheiro Deveras Obsequioso  1909       3644281
...                                                   ...   ...           ...
112025       The Lovaganza Convoy: Part 3 - The New World  2020       4080400
85810                                        Eagle Shadow  2020       4080400
131722                                           DiaDione  2020       4080400
24439                  Fresh Zulus: The Krown - MCMLXXXII  2020       4080400
24696                     The Property of a Lady Fan Film  2020       4080400
180544                                         Jackie Roy  2020       4080400
158610                                The Last Troubadour  2020       4080400
72792                                      The Sky People  2020       4080400
105260                                      The Berserker  2020       4080400
201805                                      Cross Country  2020       4080400
91504                        Cranium Intel: Magnetism X.3  2020       4080400
121808                                               Luke  2020       4080400
204629                               Crime and Punishment  2020       4080400
82039                                    The Hunt Is Over  2020       4080400
19270                                     Demon's Calling  2020       4080400
119252                                            Borders  2020       4080400
33262                                         Star Trek 5  2021       4084441
126376                                         Girl Fight  2021       4084441
128082                   Let's Paint the World with Peace  2021       4084441
163316                                     Storms of Time  2021       4084441
208450                                    Karma 50 Climax  2021       4084441
38622     Unity, Guardians Versus Corruption: War of Ages  2021       4084441
172554                                        The Hamster  2021       4084441
1676                                         Edge of Time  2021       4084441
185373                                  The Tree of Death  2022       4088484
81065                                Predator Retribution  2022       4088484
26513                                   Spider in the Web  2022       4088484
40463                                               Rosie  2022       4088484
199790                                     New in Village  2024       4096576
44165                                           Wild Runs  2024       4096576

[215971 rows x 3 columns]

### When was the first movie titled "Hamlet" made?

In [15]:
titles[titles.title == "Hamlet"].sort("year").head(1).year

43481    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [16]:
titles[titles.title == "Treasure Island"].sort("year")

                  title  year  yearssquared
191385  Treasure Island  1918       3678724
47718   Treasure Island  1920       3686400
192928  Treasure Island  1934       3740356
90185   Treasure Island  1950       3802500
213041  Treasure Island  1972       3888784
103635  Treasure Island  1973       3892729
190789  Treasure Island  1985       3940225
166649  Treasure Island  1999       3996001

### How many movies were made in the year 1950?

In [17]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [18]:
len(titles[titles.year == 1960])

1457

### How many movies were made from 1950 through 1959?

In [19]:
len(titles[(titles.year >= 1950) & (titles.year < 1960)])

12122

### In what years has a movie titled "Batman" been released?

In [20]:
titles[titles.title == "Batman"].year

69441    1943
52137    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [21]:
len(cast[cast.title == "Inception"])

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
len(cast[(cast.title == "Inception") & pd.isnull(cast.n)])

22

In [23]:
cast[(cast.title == "Inception")].sort("n")

,title,year,name,type,character,n
527580,Inception,2010,Leonardo DiCaprio,actor,Cobb,1
768727,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2
2994913,Inception,2010,Ellen Page,actress,Ariadne,3
841443,Inception,2010,Tom Hardy,actor,Eames,4
2146246,Inception,2010,Ken Watanabe,actor,Saito,5
1675612,Inception,2010,Dileep Rao,actor,Yusuf,6
1444672,Inception,2010,Cillian Murphy,actor,Robert Fischer,7
162432,Inception,2010,Tom Berenger,actor,Browning,8
2459783,Inception,2010,Marion Cotillard,actress,Mal,9
1631273,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10
290572,Inception,2010,Michael Caine,actor,Miles,11
814037,Inception,2010,Lukas Haas,actor,Nash,12
1169658,Inception,2010,Tai-Li Lee,actor,Tadashi,13
2604267,Inception,2010,Claire Geare,actress,Phillipa (3 years),14
1491381,Inception,2010,Magnus Nolan,actor,James (20 months),15
2604274,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16
726357,Inception,2010,Johnathan Geare,actor,James (3 years),17
1300248,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18
1521053,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19
296596,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20
865404,Inception,2010,Ryan Hayward,actor,Lawyer,21
2971433,Inception,2010,Miranda Nolan,actress,Flight Attendant,22
634098,Inception,2010,Russ Fega,actor,Cab Driver,23
1046935,Inception,2010,Tim Kelleher,actor,Thin Man,24
3074677,Inception,2010,Talulah Riley,actress,Blonde,25
386031,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26
2495946,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27
2792260,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28
230350,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29
461885,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30
...,...,...,...,...,...,...
131170,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44
722554,Inception,2010,Michael Gaston,actor,Immigration Officer,45
1829914,Inception,2010,Felix Scott,actor,Businessman,46
1618939,Inception,2010,Andrew Pleavin,actor,Businessman,47
3068501,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48
2008032,Inception,2010,Jason Tendell,actor,Fischer's Driver,49
745048,Inception,2010,Jack Gilroy,actor,Old Cobb,50
3289765,Inception,2010,Shannon Welles,actress,Old Mal,51
86175,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
174855,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
333801,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
611436,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
632545,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
747683,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
901161,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
980493,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
992407,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1002618,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1063430,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1114975,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1157553,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1171878,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1488847,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1640682,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1715999,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1786010,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
1898590,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
1997126,Inception,2010,Affan Tareen,actor,Denison,NaN
2486433,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2619907,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [24]:
len(cast[(cast.title == "Inception") & pd.notnull(cast.n)])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [25]:
cast[(cast.title == "North by Northwest") & pd.notnull(cast.n)].sort("n").name

778971               Cary Grant
3107636         Eva Marie Saint
1301695             James Mason
2796809     Jessie Royce Landis
317620           Leo G. Carroll
2704725    Josephine Hutchinson
1515268             Philip Ober
1138528           Martin Landau
2183294           Adam Williams
1618288            Edward Platt
594967        Robert Ellenstein
2048118            Les Tremayne
414219          Philip Coolidge
1348302           Patrick McVey
182317             Edward Binns
1236856               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [26]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort("n").name

1524146      Laurence Olivier
290601          Michael Caine
333128         Alec Cawthorne
1309035    John (II) Matthews
2424114    Eve (III) Channing
1294258          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [27]:
cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort("n").name

290602           Michael Caine
1155121               Jude Law
1613486          Harold Pinter
230447         Kenneth Branagh
333129     Alec (II) Cawthorne
2424113      Eve (II) Channing
2980725      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [28]:
# Assuming "credited" means n is not null
len(cast[(cast.title == "Hamlet") & (cast.year == 1921) & pd.notnull(cast.n)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [29]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996) & pd.notnull(cast.n)])

47

### How many "Hamlet" roles have been listed in all film credits through history?

In [30]:
len(cast[(cast.title == "Hamlet") & pd.notnull(cast.n)])

234

### How many people have played an "Ophelia"?

In [31]:
len(cast[cast.character == "Ophelia"])

96

### How many people have played a role called "The Dude"?

In [32]:
len(cast[cast.character == "The Dude"])

16

### How many people have played a role called "The Stranger"?

In [33]:
len(cast[cast.character == "The Stranger"])

192

### How many roles has Sidney Poitier played throughout his career?

In [34]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [35]:
len(cast[cast.name == "Judi Dench"])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [36]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year >= 1940) & (cast.year < 1950)].sort("year").character

778968           Nick
778978    Roger Adams
Name: character, dtype: object

In [37]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year//10 == 194)].sort("year").character

778968           Nick
778978    Roger Adams
Name: character, dtype: object

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [38]:
cast[(cast.name == "Cary Grant") & (cast.n == 1) & (cast.year >= 1940) & (cast.year < 1950)].sort("year").character

778993              Matt Howard
778950             Walter Burns
778995       C. K. Dexter Haven
778983                  Johnnie
778997             Leopold Dilg
778974    Patrick 'Pat' O'Toole
778941            Capt. Cassidy
778966                Joe Adams
778967          Joe Bascopolous
778975              Jerry Flynn
778933        Mortimer Brewster
778970               Ernie Mott
778969              Cole Porter
778972                   Devlin
778989              Dick Nugent
778990                   Dudley
778965            Jim Blandings
778945        Dr. Madison Brown
778954      Capt. Henri Rochard
Name: character, dtype: object

### How many roles were available for actors in the 1950s?

In [39]:
len(cast[(cast.type == "actor") & (cast.year >= 1950) & (cast.year < 1960)])

148779

### How many roles were avilable for actresses in the 1950s?

In [40]:
len(cast[(cast.type == "actress") & (cast.year >= 1950) & (cast.year < 1960)])

54164

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [41]:
len(cast[(cast.year <= 1980) & (cast.n == 1)])

61602

### How many non-leading roles were available through from the beginning of film history through 1980?

In [42]:
len(cast[(cast.year <= 1980) & (cast.n != 1)])

1052579

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [43]:
len(cast[(cast.year <= 1980) & pd.isnull(cast.n)])

417826