In [2]:
import pandas as pd
import numpy as np
import matplotlib

matplotlib.use('Agg')

import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

In [3]:
raw = pd.DataFrame.from_csv('storm_events_1996.csv', index_col=None)

/usr/local/lib/python3.4/dist-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (26,28,41,44,45,46,47,79,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,179) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
raw.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179
0,199610,29,1710,199610,30,600,1052149,5570068,ILLINOIS,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,199610,21,900,199610,21,900,1052748,5570362,OKLAHOMA,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,199610,20,1915,199610,20,1915,1052749,5570363,OKLAHOMA,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,199601,23,400,199601,24,2200,1404440,5537534,CALIFORNIA,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,199601,17,900,199601,18,1800,1404601,5538413,MINNESOTA,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
 raw.EVENT_TYPE.value_counts() - raw[pd.notnull(raw.BEGIN_LAT) & pd.notnull(raw.BEGIN_LON != np.nan)].EVENT_TYPE.value_counts()

Avalanche               NaN
Blizzard                NaN
Coastal Flood           NaN
Cold/Wind Chill         NaN
Debris Flow             NaN
Dense Fog               NaN
Drought                 NaN
Dust Devil              NaN
Dust Storm              NaN
Flash Flood            3318
Flood                  2215
Freezing Fog            NaN
Frost/Freeze            NaN
Funnel Cloud            NaN
Hail                    121
Heat                    NaN
Heavy Rain              NaN
Heavy Snow              NaN
High Surf               NaN
High Wind               NaN
Hurricane (Typhoon)     NaN
Ice Storm               NaN
Lightning               916
Marine High Wind        NaN
Rip Current             NaN
Storm Surge/Tide        NaN
Strong Wind             NaN
Thunderstorm Wind       127
Tornado                  29
Tropical Storm          NaN
Waterspout              NaN
Wildfire                 61
Winter Storm            NaN
Winter Weather          NaN
dtype: float64

In [6]:
cat = ['BEGIN_LAT', 'BEGIN_LON', 'MAGNITUDE', 'TOR_F_SCALE']

f_scale = {
    'F0': 1,
    'F1': 2,
    'F2': 3,
    'F3': 4,
    'F4': 5,
    'F5': 6
}

In [7]:
def get_lat(df):
    lat = df.BEGIN_LAT.values
    temp = []
    for i in lat:
        if type(i) != 'float':
            try:
                temp.append(float(i))
            except:
                temp.append(np.nan)
        else:
            temp.append(i)
    return temp

def get_lon(df):
    lon = df.BEGIN_LON.values
    temp = []
    for i in lon:
        if type(i) != 'float':
            try:
                temp.append(float(i))
            except:
                temp.append(np.nan)
        else:
            temp.append(i)
    return temp

In [24]:
t = raw[raw.EVENT_TYPE == "Tornado"].filter(cat)

t_lon = get_lon(t)
t_lat = get_lat(t)

t_scale = [f_scale[val] * 125 for val in t.TOR_F_SCALE.values]

In [9]:
h = raw[raw.EVENT_TYPE == "Hail"].filter(cat)

h_lon = get_lon(h)
h_lat = get_lat(h)

In [ ]:
tw = raw[raw.EVENT_TYPE == "Tornado"].filter(cat)

tw_lon = get_lon(tw)
tw_lat = get_lat(tw)

In [26]:
fig, ax = plt.subplots(figsize=(14,10))

usa = Basemap(projection='merc', resolution='l', llcrnrlon=-127, llcrnrlat=22, urcrnrlon=-64, urcrnrlat=52, lat_1=33, lat_2=45, lon_0=-95, area_thresh=10000)
usa.fillcontinents(color='green', lake_color='blue')
usa.drawstates(color='lightgray')
usa.drawcoastlines(color='lightgray')
usa.drawcountries(color='black')

# Scatter plot: x, y, using latitude/longitude coordinates?, marker style, marker alpha, 
usa.scatter(t_lon, t_lat, latlon=True, marker='v', c='gray', alpha=0.5, zorder=4, s=t_scale)
# usa.scatter(h_lon, h_lat, latlon=True, marker='x', c='lightblue', alpha=0.2, zorder=3)
# usa.scatter(tw_lon, tw_lat, latlon=True, marker='o', c='yellow', alpha=0.2, zorder=2)

# Image won't output, so I save plot to another location.
# LOOK FOR "tornadoes.png"
plt.title('Tornadoes by Instensity Across USA in 1996')
plt.savefig('tornadoes')